<img src="../../../.././../assets/NIU-LOCKER/picker/car5.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">


<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> 
                            <img id="logo" src="../../../../assets/NIU-LOCKER/carrusel/logo.png" > 
                        </div>
                        <h3 class="mb-5 text-center heading">Registrarse Niu-Lockers</h3>
                        <h6 class="msg-info">Llenes con sus datos</h6>
                        <form >
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Nombre</label> 
                                <input type="text"  required="" placeholder="Ingrese su nombre y apellido" class="form-control" > 
                            </div>
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Email</label> 
                                <input type="text"  required="" placeholder="Ingrese su correo electrónico" class="form-control" > 
                            </div>
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Constraseña</label> 
                                <input type="password"  required="" placeholder="Contraseña" class="form-control"  > 
                            </div>
                            <div class="row justify-content-center my-3 px-3"> 
                                <button  type="submit" class="btn-block btn-color" >Registrarse</button> 
                                
                            </div>
                        </form>
                        <div>
                            <label class="form-control-label text-muted">Seleccione el tipo de usuario que desea ingresar</label>
                            
                            <button  class="btn-block btn-color" routerLink='developer'> Administador</button> 
                            <button  class="btn-block btn-color" routerLink='/'>Cliente</button> 
                          </div>
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p class="sm-text mx-auto mb-3" >Ya tienes cuenta? Entra al <a routerLink='/login' class="btn btn-white ml-2" > Login</a></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">We are more than just a company</h3> <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
                    <br><br>
                    <img  src="../../../../assets/Slider/Locker-2.png " width="450" height="350"> 
                </div>
            </div>
        </div>
    </div>
</div>