
<div class="General">
    <div class="container">
                        <div class="justify-content-center">
                           <img class="imglogo" src="../../../assets/NIU-LOCKER/Logo-NiuSmart.svg" alt="" width="130" height="180">
                        </div>
                        <h3 class=" text-center heading">Bienvenidos a Niu-Locker </h3>
                        <form [formGroup]="loginForm" (ngSubmit)="login()" >
                            <div class="form-group">
                                <label class="form-control-label text-muted">Usuario</label>
                                <input type="text" id="email"  placeholder="Ingrese su email" class="form-control" formControlName="email">
                                <div *ngIf=" loginForm.controls.email.touched" class="text-danger">
                                    <div *ngIf=" loginForm.controls.email.errors?.required">{{propiedades.errorEmail}}
                                    </div>
                                            <div *ngIf=" loginForm.controls.email.errors?.pattern">{{propiedades.errorEmailFormato}}
                                            </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-muted">Contraseña</label>
                                <input type="password" id="psw" placeholder="Contraseña" class="form-control" formControlName="password" >
                                <div *ngIf=" loginForm.controls.password.touched" class="text-danger" >
                                    <div *ngIf=" loginForm.controls.password.errors?.required"> {{propiedades.errorPassword}}
                                    </div>
                                     <div *ngIf=" loginForm.controls.password.errors?.minlength">{{propiedades.errorPasswordMin}}
                                  </div>
                                    <div *ngIf=" loginForm.controls.password.errors?.maxlength"> {{propiedades.errorPasswordMax}}
                                    </div>
                            </div>
                        </div>
                            <div>
                                <button type="submit"  [disabled]="!loginForm.valid">Entrar a Lockers</button>
                            </div>
                        </form>
                        <!--Contraseña o usuario invalido-->
                        <div class="alert alert-danger" *ngIf="errorLogin" >
                            <p>Usuario o Clave Incorrecta</p>
                        </div>
                        <div class="bottom text-center mb-5">
                          <p href="#" class="sm-text mx-auto mb-3">¿No tienes una cuenta?<a class="btn btn-white ml-2" routerLink='/register' >Crear cuenta</a></p>
                      </div>
                    </div>
</div>
