<app-navbar></app-navbar>
<img src="../../../.././../assets/NIU-LOCKER/picker/car5.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">

<div class="container px-4 py-5 mx-auto">
    
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> <img class="imglogo" src="../../../../../assets/NIU-LOCKER/carrusel/logo.png" alt="" width="250" height="350">
                        </div>
                        <h3 class="mb-5 text-center heading">Bienvenidos a NIU-LOCKERS </h3>
                        <h6 class="msg-info" style="font-weight: bold;font-size:smaller">Por favor ingrese con su usuario y contraseña</h6>
                        <form [formGroup]="loginForm" (ngSubmit)="login()" >
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Usuario</label> 
                                <input type="text" id="email"  placeholder="Ingrese su email" class="form-control" formControlName="email"> 
                            </div>
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Constraseña</label> 
                                <input type="password" id="psw" placeholder="Contraseña" class="form-control" formControlName="password"> 
                            </div>
                            <div class="row justify-content-center my-3 px-3"> 
                                <button type="submit" [disabled]="!loginForm.valid" class="btn-block btn-color">Entrar a Lockers</button> 
                            </div>
                        </form>
                        <!--Contraseña o usuario invalido-->
                        <div class="alert alert-danger" *ngIf="errorLogin" >
                            <p>Usuario o Clave Incorrecta</p>
                        </div>
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="#" class="sm-text mx-auto mb-3">¿No tienes una cuenta?<a class="btn btn-white ml-2" routerLink='/register' >Crear cuenta</a></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-black">We are more than just a company</h3> <small class="text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
              
                </div>
            </div>
        </div>
    </div>
</div>
