<app-navbar></app-navbar>
<br>
    <!--Carrusel-->
<div clas="Slide">
    <img src="../../../.././../assets/NIU-LOCKER/picker/car.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75; ">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../../../assets/NIU-LOCKER/carrusel/4.png" alt="First slide">

    </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../../assets/NIU-LOCKER/carrusel/3.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../../assets/NIU-LOCKER/carrusel/2.png" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../../assets/NIU-LOCKER/carrusel/1.png" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
  <br>
  <div>
    <!--Parte 2-->
    <div class="Cuerpo2">
      .<div class="container-fluid">
        <div class="row ">
           <div class="col-sm" style="background: none;">
             <h1> Disfruta de tu tiempo, tu paquete está seguro</h1>
                <p>Niu Locker te brinda seguridad y tranquilidad gracias
                 a nuestra tecnología, recibe y retira tus encomiendas 24/7, tu paquete estará seguro con nosotros.
                </p>

                <h2> ¿Por qué elegir Nuestra Api?</h2>
                <p>Te damos la tranquilidad de poder retirar tus encomiendas de manera segura en un horario que se
                   ajuste a tu disponibilidad y con la facilidad que proporciona nuestra app móvil.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi illum sapiente tenetur unde
                  iam sint reprehenderit nulla assumenda necessitatibus! Nemo tempore perspiciatis, dignissimos
                  reiciendis animi temporibus pariatur aliquid assumenda!
                </p>
                <!--Btn Guia-->
                <form class="BtnGuia">
                  <button type="submit" class="hide-on-med-and-down" routerLink="/Guia">Ver Guia</button>
                </form>
            </div>

            <div class="col-sm" style="background: none; text-align: center;">

              <!--Video-->
              <div class="videoP" id="videoP" name="Presentacion">
                <video src="../../../../../assets/NIU-LOCKER/Videos/Locker-1.mp4"  controls autoplay muted></video>
              </div>

              </div>
              </div>

    </div>

      <!-- Cuerpo parte 3-->
    <div class="Cuerpo3">
      <div class="container-fluid">
        <div class="row">
              <div class="Columna1 col-sm">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatibus eligendi et voluptatem deleniti suscipit tempore alias nostrum iste culpa. Officiis neque quisquam provident eos quaerat, mollitia qui temporibus impedit!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatibus eligendi et voluptatem deleniti suscipit tempore alias nostrum iste culpa. Officiis neque quisquam provident eos quaerat, mollitia qui temporibus impedit!</p>

                    <br>
              </div>
                  <div class=" col-sm ">

                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas sunt excepturi quis a quasi asperiores
                         voluptas nam ab illum expedita officiis sapiente esse distinctio debitis, voluptates, recusandae possimus
                          sed soluta!
                      </p>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas sunt excepturi quis a quasi asperiores
                        voluptas nam ab illum expedita officiis sapiente esse distinctio debitis, voluptates, recusandae possimus
                         sed soluta!
                     </p>
                  </div>


        </div>
    </div>
    </div>
        <!-- Cuerpo parte 4 -->
    <div class="Cuerpo4">
        <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <p style="  color: rgb(43, 221, 43); margin-top: 50px ;">Diseñado para desarrolladores</p>
                  <h1>Nuestras APIs son muy sencillas de integrar</h1>
                  <br>
                  <br>
                  <p>Si tienes un equipo de desarrollo, puedes conectar nuestras APIs a tu ecommerce, app u otro tipo de sistema. O sino,
                    puedes buscar nuestros plugins en las principales plataformas de comercio electrónico.</p>
                  <br>
                  <br>
                  <!--Boton Documentacion -->
                  <form class="BtnDoc">
                    <button type="submit" class="hide-on-med-and-down" [routerLink]="['/developer']">Ver Documentacion</button>
                  </form>

                    <br>
                    <br>
                    <br>
                    <br>
              </div>
              <div class="documentacion col">
                <img src="../../../assets/NIU-LOCKER/Documentacion/carbon.png" alt=""> <br><br>
                <img src="../../../assets/NIU-LOCKER/Documentacion/carbon_2.png" alt="">
              </div>
          </div>
        </div>
    </div>
        <app-footer></app-footer>
    </div>

        <app-footer></app-footer>
