<app-navbar></app-navbar>
<div class="ContenedorGeneral">
    <div class="contSegundario container-fluid">
        <div class="row">
              <div class="col">
                  <h4>Para unirte a la familia NiuLocker realiza los siguientes pasos</h4>

                  <p> Para unirte a la comunidad NiuLocker puedes realiza los siguientes pasos</p>
                      <button type="submit" [routerLink]="['/register']">Registrate</button>
              </div>
                            <!--Video-->
                      <div class="videoP" id="videoP" name="Presentacion">
                          <video src="../../../../../assets/NIU-LOCKER/Videos/Paso a paso del uso de nuestros Smart Lockers.mp4"  controls autoplay muted></video>
                        </div>
          </div>
      </div>
</div>
<app-footer></app-footer>
