nav{
    background-image: radial-gradient(120deg  120.71% 50%, #dafdff 0, #afe7ff 16.67%, #7ecefb 33.33%, #3cb5f2 50%, #009ce9 66.67%, #0084e0 83.33%, #006ed7 100%);
  
  }
  
  a{
    margin: 15px;
  }