
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.General{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  background: #fff;
}
img{
  height: 75px;

}
nav {

  height: 85px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

a{
  color: #fff;
}


nav ul {
  display: flex;
}


nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  color: #000;
  padding: 15px;
  position: relative;
  cursor: pointer;
}

nav ul li a:hover {
  transition: all .3s;
}

.drawer {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  border: solid 1.5px #fff;
  padding: .2rem;
  border-radius: .1rem;
}

#ckbox {
  display: none;
}

button[type="submit"]{
  padding: 5px;
  width: 120px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: #3cb5f2 ;
  color: #fff;
  transition: 0.2s;
}
button[type="submit"]:hover{
  background: #009ce9 ;
}
@media only screen and (max-width: 520px) and (min-width: 100px) {
  .General{
    width: 90%;
  }
  button[type="submit"]{
    z-index: -2;
    position: relative;
    left: -25px;
  }
  nav ul li a {
  color: black;
  padding: 15px;
}
  img{
          margin-left: 100px;
  }
  nav{
      justify-content: flex-start;
  }
  .drawer{
      display: block;
  }
  ul {
      position: absolute;
      width: 100%;
      height: auto;
      background-color: rgb(33, 148, 201);
      top: 83px;
      left:-100%;
      text-align: left;
      transition: all .5s;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      z-index: 5;
  }

  nav ul li {
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
  }

  #ckbox:checked  ~ .menu-box{
      left:0;
  }
}
