<div class="General">
  <header>
    <nav>
        <input type="checkbox" id="ckbox">
        <label for="ckbox" class="drawer">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </label>
        <img src="https://niulocker.app/assets/images/logoFinal.png" alt="Logo NiuLocker">
        <ul class="menu-box">
            <li><a class="nav-link"> Desarrolladores</a></li>
            <li><a href="https://niulocker.com/" class="nav-link"> Compañia</a></li>
            <li><a class="nav-link"> Precios</a></li>
            <li><a class="nav-link"> Repartidores</a> </li>

        </ul>
        <button type="submit" [routerLink]="['/login']">Iniciar Sesion</button>
    </nav>
  </header>
</div>
