<br><br><br>
<section id="work" class="portfolio-mf sect-pt4 route m-t-40 container">
	<div class="mb-4 text-center">
		<h2 class="title-a">
			Perfil Administrador
		</h2>
		<div class="line-mf"></div>
	</div>
    

<!-- Datos de usuario -->
        <div class="card">
            <div class="card-header text-center">
                <h2 class="text-info"></h2>
                <h3 class="text-info"></h3>
            </div>
        </div>
        <!-- Datos de admin -->
        <div class="card">
            <div class="card-header text-center">
                <h3 class="text-info">Perfil</h3>
            </div>
            <div class="card-body text-center">
                <div class="thumbnail" style="align-content: center">
        <!-- para acceder se sa con la interpolacion {{}}-->
                    ID : 101
                </div>
                <br>
                <div class="text-primary">
                   NOMBRE: DRAKE HERNAN
                </div>
                <br>
                <div class="pb-1">
                    CORREO:KHM.PILLLAJO@.COM
                </div>
                <br>
                <div class=" text-primary">
                  ROL: ADMINISTRADOR
                </div>
                <br>
                <div class="pb-1">
                    TOKEN :20
                </div>
                <br>
                <br>
                <br>
            </div>
            <button type="submit"  class="btn-block btn-color">ELIMINAR</button> 
        </div>
</section>     
        