<footer >
    <div class="contenedor footer-content">
            <div class="social-media">
                <h2 class="brand">NIU-LOCKERS</h2>
                <p>Somos expertos en lo que hacemos </p>
            </div>
            <div class="social-media">
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-twitter' ></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram' ></i>
                </a>
            </div>
    </div>
    <div class="line"></div>
</footer>