<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section class="footer">
      <div class="social">
        <a href="https://www.youtube.com/channel/UCBEApQq8oX-qeyAp4fWRJqQ"><i class="fa fa-youtube"></i></a>
        <a href="https://www.facebook.com/niulocker.ec"><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/niulocker.ec/?hl=es"><i class="fa fa-instagram"></i></a>

      </div>

      <ul class="list">

        <li>
            <a href="">Documentacion</a>
        </li>
        <li>
          <a href="">Desarrolladores</a>
        </li>
        <li>
      </ul>
      <p class="copyright">Niu Smart 2021 @Derechos Reservados</p>
  </section>

</body>
</html>
