/* footer */

footer {
    background: #ebeef0e5;
    padding: 5px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;

  }
  
  .partFooter {
    width: 20%;
    text-align: center;
  }
  
  .partFooter h4 {
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
  }
  
  
  .partFooter a:hover {
    color: #1FDE82;
  }
  
  .partFooter img {
    width: 70%;
  }
  
  .social-media i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
  }
  
  .social-media i:hover {
    color: #fff;
    background-color: #1FDE82;
    border-color: #1FDE82;
  }