/* You can add global styles to this file, and also import other style files */
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
 /*background-image: radial-gradient(circle at 50% 50%, #ffffff 0, #feffff 8.33%, #f0ffff 16.67%, #e2ffff 25%, #d6ffff 33.33%, #cbffff 41.67%, #c1f9f3 50%, #b8e2e1 58.33%, #b1cecf 66.67%, #abbdbf 75%, #a6aeb0 83.33%, #a1a3a3 91.67%, #9d9a99 100%);*/
    
    background-repeat: no-repeat
}

input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #8cf2ff !important;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.card2 {
    color:black;
    width: 50%;
    background-image: linear-gradient(to right,  #4ef3ff, #bec4c3)
}

#logo {
    width: 100px;
    height: 90px
}

.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}
/* BOTONOS GENERALES  */
.btn-color {
    border-radius: 50px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right,  #898a8a, #a2ffff);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

.btn-color:hover {
    color: rgb(7, 6, 6);
    background-image: linear-gradient(to right,  #a7fcff, #899291)
}

.btn-white {
    border-radius: 50px;
    color: #060707;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #e66d69 !important
}

.btn-white:hover {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right,  #98f8e8, hsl(189, 100%, 78%))
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}

