<app-navbar></app-navbar>

<section id="work" class="portfolio-mf sect-pt4 route m-t-40 container">
  <div class="mb-4 text-center">
    <h2 class="title-a">
      Perfil Cliente
    </h2>
    <div class="line-mf"></div>
  </div>


  <!-- Datos de usuario -->
  <div class="card">
    <div class="card-header text-center">
      <h2 class="text-info"></h2>
      <h3 class="text-info"></h3>
    </div>
  </div>
  <!-- Datos de asociado -->
  <div class="card" *ngIf="lectura">
    <div class="card-header text-center">
      <h3 class="text-info">Datos Personales</h3>
    </div>
    <div class="card-body text-center">
      <div class="thumbnail" style="align-content: center">

        Nombre :{{userData.name_user}}
      </div>
      <br>
      <div class="text-primary">
        Correo:{{userData.email_user}}
      </div>
      <br>
      <!-- <div class="pb-1">
        Token lectura: 1231
      </div> -->
      <br>
      <div class=" text-primary">
        Nombre de la empresa : {{userData.name_company}}
      </div>
    </div>
    <!-- <button type="submit" class="btn-block btn-color" (click)="lectura = !lectura">Modificar</button> -->
  </div>
  <div *ngIf="!lectura">
    <h5>Mod</h5>
    <form >

    </form>
  </div>
</section>

